<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<div>
				<label for="">ID:</label>
				<input type="text" v-model="id">
				<label for="">name:</label>
				<input type="text" v-model="name">
				<input type="button" value="添加" @click="add">
			</div>
			<!-- 注意：v-for循环的时候，key属性只能使用 number或string -->
			<!-- 注意：key 在使用的时候，必须使用v-bind 属性绑定的形式，指定key的值 -->
			<!-- 在组件中，使用v-for循环的时候，或者在一些特殊情况中，如果v-for有问题，必须在使用v-for的同时，指定唯一的字符串/数字 类型的 :key 值 -->
			<p v-for="item in list" :key="item.id">
				<input type="checkbox">
				{{ item.id }} -- {{ item.name }}
			</p>
		</div>
		
		<script src="lib/vue.js"></script>
		<script>
			var vm = new Vue({
				el:'#app',
				data:{
					id:'',
					name:'',
					list:[
						{id:1,name:'哈哈'},
						{id:2,name:'呵呵'},
						{id:3,name:'嘻嘻'},
						{id:4,name:'嘤嘤'},
						{id:5,name:'吱吱'},
					]
				},
				methods:{
					add(){
						// this.list.push({id:this.id,name:this.name})
						this.list.unshift({id:this.id,name:this.name})
					}
				}
			})
		</script>
	</body>
</html>
